{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "quotes": ["error", "double", { "avoidEscape": true }],
    "semi": ["error", "always"],
    "object-curly-spacing": ["error", "always"],
    "complexity": "off",
    "max-depth": "off",
    "indent": ["error", 2, { "SwitchCase": 1 }]
  }
}
