public.accounts.email:faker.internet.email
public.addresses.street:faker.address.streetName
public.addresses.city:faker.address.cityName
public.addresses.street_number:faker.datatype.number
public.addresses.country_id:extension.randomCountryID
public.addresses.zip:faker.address.zipCode
public.patients.address:faker.address.streetAddress
public.patients.birth_date:extension.randomBirthdate
public.patients.country:faker.address.country
public.patients.first_name:faker.name.firstName
public.patients.last_name:faker.name.lastName
public.patients.gender:faker.name.gender
public.patients.phone:faker.phone.phoneNumber
public.patients.height:extension.randomHeight
public.patients.weight:extension.randomWeight
